
<%- include('common/header.ejs'); -%>
<section>
  <form class="item" action="/" method="get">
    <button class="backhome"> â† </button>
      </form>
  <div class="box" id="heading">
  <h1>List of Selected Item</h1>
  
  </div>
</section>
    <section> 
      <div> <%= item %> </div>
      <h3>you can order the selected items</h3>
  </section>
<%- include('common/footer.ejs'); -%>
