<%- include('common/header.ejs'); -%>
<section>
    <h1>Welcome <%= name %></h1>
    <div>
    <p>You have succesfully ordered your items!</p></div>
    </section>
<%- include('common/footer.ejs'); -%>